<ion-app></ion-app>
<br><br><br><br><br><br><br><br>

<ion-content>
  
  <div class="pru">
      <h1 class="h1">
        <strong>¿Quiénes somos?</strong></h1>
      <p >
        <strong> La Universidad Tecnológica de los Valles Centrales de Oaxaca</strong>,
         en noviembre de 2019 decidió formar un equipo, dentro de la
          Academia de la licenciatura en
          <strong>Ingeniería en Energías Renovables</strong>,
           con el objetivo de trabajar sobre el análisis de la pobreza 
           energética en el estado de Oaxaca. En este contexto, se identificó 
           al Centro de Investigaciones y Estudios Superiores en Antropología 
           Social (CIESAS) Unidad Pacífico Sur como aliado estratégico para este esfuerzo.  
      </p>
    </div>
    <div class="cuadro">
      <h2>
        EQUIPO
      </h2>
      <div class="pru">
        <span> Las metas se hacen realidad</span> gracias a la constancia,
        esfuerzo y sacrificio de nuestros integrantes.
        "Individualmenet somos una gota, juntos somos un oceano"
      </div>
    </div>

<!-- CARDS -->
<ion-grid fixed >
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/MaestraOmara.jpg" alt="">
          <ion-card-subtitle>M. en G. Itzel Omara Matus Enríquez</ion-card-subtitle>
          <ion-card-title>
            <p class="ca">Profesora de tiempo completo 
              e investigadora de la Universidad Tecnológica de los Valles centrales de Oaxaca. </p>
           </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/Maestro2.jpg" alt="">
          <ion-card-subtitle> Dr. Julio Ulises Morales López</ion-card-subtitle>
          <ion-card-title>
           <p class="ca">Profesor investigador del 
            Centro de Investigaciones y Estudios Superiores en Antropología Social.</p>  
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- termino de cards -->






<ion-footer>
  <ion-toolbar color="dark">
  </ion-toolbar>
</ion-footer>

</ion-content>
 