.img{
    // vertical-align: text-top;  
    width: 45%;
    
  }

.pru{
    margin-left: 7%;
    margin-right: 30%;
  
}

h1 {
    font-size: 40px;
    color: rgb(45, 94, 94);
}
h2{
    font-size: 40px;
    // font-family: 'Fira Sans';
    font-weight: 700;
    color:rgba(45, 94, 94, 0.749);
    line-height: 1.2;
    padding: 15px 0 15px;
    margin-left: 7%;
}

// 
.cuadro {
    margin-top: 50px;
    height: 205px;
    margin-bottom: 30px;
   background-color: rgba(67, 143, 128, 0.089);
   margin-right: 7%;
}
.ca{
    font-size: 15px;  
}



  