<ion-app>
  <ion-header collapse="condense" [translucent]="true" mode="ios">
    <ion-toolbar>
      <img src="../../assets/UNA SOLA.png" style="zoom: .1;">
      <ion-button fill="clear" shape="round" color="dark" href="home">INICIO</ion-button>
      <ion-button fill="clear" shape="round" color="dark" href="quienes">¿QUIÉNES SOMOS?</ion-button>
      <ion-button fill="clear" shape="round" color="dark" href="observatorio">OBSERVATORIO PE</ion-button>
      <ion-button fill="clear" shape="round" color="dark" href="seminario">SEMINARIO</ion-button>
     
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>

  
</ion-app>



