<ion-app></ion-app>
<br><br><br><br><br><br><br><br>


<ion-content>

   <div class="contenedor">
    <div class="imgcontainer">
        <img src="../../assets/proximamente.png" alt="Avatar" class="avatar">
      </div>
    <div class="formulario">
        <form>
            <div class="container">
                <div class="input-container">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="text" placeholder="Usuario" class="form-control input-field">
                </div>
                <div class="input-container">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" placeholder="Contraseña" class="form-control input-field">
                </div>          
                <button type="submit" class="btn btn btn-primary">
                  Ingresar
                  </button>
            </div>
          </form>  
    </div>
</div>

<!-- presentación -->
<div class="info">
  <h1 class="h1">
    <ion-icon name="bonfire" class="ico"></ion-icon>
    <strong>SEMINARIO</strong></h1>
    
  <p><strong>Resumen</strong> <br>
    Seminario Interdisciplinario “Estudios sociales de la energía en Oaxaca, 2022”.
    <br>
    El siguiente seminario es para impulsar el desarrollo e integrar de manera positiva
     las tendencias que estan revolucionando al mundo, las cuales nos
    exigen un cambio que trasciende para con uno mimo.  </p>
    <p><br>
      <strong>Dirigido a:</strong> Publico en general</p>
  </div>
  <br>


  <!-- dinamica de participación -->
  
  <div class="info">
    <h1 class="section-heading">Dinámica de participación</h1>
    <div class="col-md-1 col-lg-1">
      </div>
      <div class="col-md-11 col-lg-11">
        <button type="submit" class="btn-xl">Registro</button>
      <p><br>
        <strong>¿Cómo participar?</strong><br>
        Formas de participar en el seminario:</p>
        <ol>
          <li>Libre acceso a través de la página de internet:<br>
            <a href="" target="_blank"><strong>.......</strong></a>
          </li>
            <li>Realizar el <a href="" target="_blank">registro</a>
            </li>
            <li>Como ponente a través de la <a href="" target="_blank">Convocatoria publicada</a>.<br>
               <br>
              </li>
            </ol>
            <li><span class="alert-success">
              <strong>Nota</strong>: La modalidad “libre” no implica la obtención de  constancia.</span><br>
               <br><br>
              </li>
              <p><strong>Constancias</strong></p>
              <ol>
                <li>Si requieres constancia del seminario realiza el registro correspondiente.</li>
                <li>Se otorgará constancia digital a las siguientes personas:
                  <br> <strong>Ponentes y participantes</strong>, siempre y cuando se hayan registrado con anterioridad.</li>
                <li>La emisión de los certificados se informara en el transcurso del evento.<br>
                  <br>
                </li>
              </ol>
              Podrás enviar  preguntas a los ponentes de cada sesión a través de:
              <a href="" target="_blank"></a> 
              <div>
                <div>

                </div>
                <div>

                </div>
              </div>
              <p>
                <br>
              </p>
            </div>
          </div>





          <ion-footer>
            <ion-toolbar color="dark">
            </ion-toolbar>
          </ion-footer>

</ion-content>


