
.formulario {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgb(45, 94, 94); 
    border-radius: 5px;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    touch-action: manipulation;
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-control {
    
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;   
}

.info{
    margin-left: 7%;
    margin-right: 7%;
  }

 

h1, h2, h3, h4, h5, h6 {
    // font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    // text-transform: uppercase;
    // font-weight: 700;
    color: rgb(45, 94, 94);
    font-size: 40px;
}

.ico{
    color: rgba(45, 94, 94, 0.628); 
}


.btn-xl {
   
    color: #fff;
    background-color: rgb(45, 94, 94);
    border-color: rgb(45, 94, 94);
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 16px;
    width: 32%;
    height: 30px;
    
}


    
