<ion-app></ion-app>
<br><br><br><br><br><br><br><br>

<ion-content>

    <div>
        <br>
        <h1 class="h1">
          OBSERVATORIO PE
        </h1>
        <div class="pru">
          <span>
            <strong>El observatorio de Pobreza energética</strong> tiene como propósito actuar como un recopilador,
             generador y comunicador de información relacionada a los temas relevantes para el contexto 
             Oaxaqueño que abordan transversalmente a la generación, distribución, comercialización y 
             uso de la energía con aspectos sociales relacionados a dichos procesos. <br>
             Cuenta con dos ejes principales de investigación:
            </span>
            <ul>
                <li>Eje 1: Pobreza Energética en el Estado de Oaxaca. </li>
                <li>Eje 2: Genero y energía</li>
            </ul>
        </div>
      </div>

      <div class="imgcontainer">
        <img src="../../assets/eje uno1.png" class="avatar">
      </div>



      <ion-footer>
        <ion-toolbar color="dark">
        </ion-toolbar>
      </ion-footer> 

      

</ion-content>
