// .cuadro {
//     margin-top: 30px;
//     height: 250px;
//     margin-bottom: 30px;
//    background-color: rgba(110, 171, 141, 0.103);
//    margin-right: 7%;
//    margin-left: 7%;
// }

.pru{
    margin-left: 7%;
    margin-right: 15%;
  
}

h1{
    margin-left: 7%;
    margin-right: 30%;
    color: rgb(45, 94, 94);
    font-size: 37px;
}

.avatar{
    width: 75%;
    margin-left: 7%;
    

}