<ion-app></ion-app>
<br><br><br><br><br><br><br><br>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <img src="../../assets/banner6.png">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner1.png">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner2.png">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner3.png">
    </ion-slide>
  </ion-slides>
  

      <!-- SIDEBAR (BARRA LATERAL) -->
      <div id="main" class="sidebar-right sidebar-divider-vertical">
      
        
        <div class="main-gradient"></div>
        <div class="wf-wrap">
        <div class="wf-container-main">
          <div id="content" class="content" role="main">
            <div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px; margin-bottom: 0px; min-height: 0px;">
              <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <h1 class="strong">La Red de Pobreza Energética</h1>
                      <div>
                        <strong>Las causas y consecuencias de la pobreza energética</strong>
                        se encuentran en dimensiones económicas, sociales, ambientales, culturales
                         y tecnológicas; por lo cual el esfuerzo coordinado en distintas disciplinas
                          es fundamental para abordar esta problemática. 
                      </div>
                      <div>
                        <strong  >Esta labor</strong>
                        requiere de un análisis multidimensional en términos económicos, sociales,
                         ambientales, culturales y tecnológicos, que se encuentre correctamente situado
                          en el espacio y tiempo actual, a fin de que los resultados que se deriven de su
                           medición se conviertan en origen del diseño de políticas sociales que conduzcan
                            al desarrollo social de Oaxaca en materia energética.
                            Al entender tanto las carencias como los potenciales energéticos de las comunidades,
                             se contará con información cuantitativa y cualitativa que será de ayuda para definir
                              la estrategia a seguir para el desarrollo energético del estado de Oaxaca.
                      </div>
                    </div>
                  </div>
                  <div class=" ubtn-ctn-center ">
                    <a class="ubtn-link ult-adjust-bottom-margin ubtn-center ubtn-normal " href="">
                      <button type="button" id="ubtn-2509" class="ubtn ult-adjust-bottom-margin ult-responsive ubtn-normal ubtn-top-bg  none  ubtn-center   tooltip-62c7226c1587a" 
                        data-hover="#ffffff" data-border-color="" data-bg="#f5a220" data-hover-bg="#f5a220" 
                        data-border-hover="" data-shadow-hover="" data-shadow-click="none" data-shadow="" 
                        data-shd-shadow="" data-ultimate-target="#ubtn-2509" 
                        data-responsive-json-new="{&quot;font-size&quot;:&quot;&quot;,&quot;line-height&quot;:&quot;&quot;}" 
                        style="font-weight:normal;border:none;background: #459494;color: #ffffff;">
                        <span class="ubtn-data ubtn-text ">VER MÁS</span>
                      </button></a></div>
                      <div class="dt-shortcode with-isotope">
                        <div class="wf-container dt-portfolio-shortcode loading-effect-fade-in iso-grid bg-under-post description-under-image content-align-left dt-isotope cont-id-0 iso-item-ready" 
                        data-padding="3px" data-cur-page="1" data-posts-per-page="-1" data-width="250px" data-columns="3" 
                        data-cont-id="0" style="position: relative; height: 1200.17px;">
                      
                      



 <!-- LA RED -->
             <div class="wf-cell shown" data-post-id="55" data-date="2017-09-01T11:04:08+00:00" data-name="LA RED" style="position: absolute; height: 464px; left: 0px; top: 0px;">
              <article class="post post-55 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail hentry dt_portfolio_category-secciones dt_portfolio_category-3 bg-on">
                <div class="project-list-media">
                  <figure class="buttons-on-img forward-post this-ready">
                    <a href="" 
                      class="alignnone rollover this-ready layzr-bg-transparent" title="Mini-Afiches-Red (1)" aria-label="Post image" style="padding-bottom: 100%; height: 0px; display: block;">
                      <img class="preload-me iso-lazy-load height-ready thumb-lazy-load-show iso-layzr-loaded" src="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2017/09/Mini-Afiches-Red-1-650x650.png" 
                       alt="" width="650" height="650" data-ratio="1" srcset="" sizes="360px" style="will-change: auto;">
                        <i></i>
                    </a>
                  </figure>
                </div>
                <div class="project-list-content">
                  <h3 class="entry-title">
                    <!-- link para ver la información segmento la red -->
                    <a href=""  
                    title="LA RED" rel="bookmark">LA RED</a>
                  </h3>
                  <p>La Red de Pobreza Energética (RdPE), propone favorecer vínculos de colaboración
                     entre investigadores de diversas disciplinas</p>
                </div>
              </article>
            </div>

            
      <!-- INICIO DE INTEGRANTES -->
      <div class="wf-cell shown" data-post-id="61" data-date="2017-09-01T11:11:18+00:00" data-name="INTEGRANTES" style="position: absolute; height: 464px; left: 335px; top: 0px;">
        <article class="post post-61 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail hentry dt_portfolio_category-secciones dt_portfolio_category-3 bg-on">
          <div class="project-list-media">
            <figure class="buttons-on-img forward-post this-ready">
              <a href="" class="alignnone rollover this-ready layzr-bg-transparent" title="Iluminacio¦ün_V2" aria-label="Post image" style="padding-bottom: 77.2308%; height: 0px; display: block;">
                <img class="preload-me iso-lazy-load height-ready thumb-lazy-load-show iso-layzr-loaded" src="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2017/09/Iluminacio¦ün_V2-650x502.png" alt="" width="650" height="502" data-ratio="1.294820717131474" 
                srcset="" sizes="360px" style="will-change: auto;">
                <i></i>
              </a>
            </figure>
          </div>
             <div class="project-list-content">
                <h3 class="entry-title">
                  <!-- link para ver la información segmento integrantes -->
                  <a href="" 
                  title="INTEGRANTES" rel="bookmark">INTEGRANTES</a></h3>
                  <p>Miembros de la Red de Pobreza Energética</p>
             </div>
         </article>
      
      </div>
    


<!-- TERMINO DE INTEGRANTES -->

      <div class="wf-cell shown" data-post-id="63" data-date="2017-09-01T11:14:47+00:00" data-name="CENTRO DE DOCUMENTACIÓN" style="position: absolute; height: 389.083px; left: 0px; top: 464px;">
        <article class="post post-63 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail hentry dt_portfolio_category-secciones dt_portfolio_category-3 bg-on">
          <div class="project-list-media">
            <figure class="buttons-on-img forward-post this-ready">
              <a href="" class="alignnone rollover layzr-bg this-ready layzr-bg-transparent" title="Electrodome¦üsticos_V2" aria-label="Post image" style="padding-bottom: 77.2308%; height: 0px; display: block;">
                <img class="preload-me iso-lazy-load height-ready thumb-lazy-load-show" src="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2017/09/Electrodome%C2%A6%C3%BCsticos_V2.png" data-src="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2017/09/Electrodome%C2%A6%C3%BCsticos_V2.png"  alt="" width="650" height="502" data-ratio="1.294820717131474"><i></i></a>			</figure>
          </div>
            <div class="project-list-content">
              <h3 class="entry-title">
                <!-- link para ver la información segmento centro de documentación -->
                <a href="" 
                title="CENTRO DE DOCUMENTACIÓN" rel="bookmark">CENTRO DE DOCUMENTACIÓN</a></h3>
                <p>Material de consulta sobre la Red de Pobreza Energética. </p>
            </div>
        </article>
      
      </div>


      <!-- TERMINO DE CENTRO DE DOCUMENTACIÓN -->

      <div class="wf-cell shown" data-post-id="65" data-date="2017-09-01T11:20:56+00:00" data-name="NOTICIAS" style="position: absolute; height: 389.083px; left: 335px; top: 464px;">
        <article class="post post-65 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail hentry dt_portfolio_category-secciones dt_portfolio_category-3 bg-on">
          <div class="project-list-media">
            <figure class="buttons-on-img forward-post this-ready">
              <a href="" class="alignnone rollover layzr-bg this-ready layzr-bg-transparent" title="Casas-en-verano" aria-label="Post image" style="padding-bottom: 77.2308%; height: 0px; display: block;">
                <img class="preload-me iso-lazy-load height-ready thumb-lazy-load-show" src="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2017/09/Casas-en-verano.png"  alt="" width="650" height="502" data-ratio="1.294820717131474">
                <i></i>
              </a>
            </figure>
          </div>
          <div class="project-list-content">
            <h3 class="entry-title">
              <!-- link para ver la información segmento noticias -->
              <a href="" title="NOTICIAS" 
              rel="bookmark">NOTICIAS</a></h3>
              <p>Noticias, columnas de opinión y otras actividades relacionadas con la Red de Pobreza Energética.</p>
          </div>
        </article>
      </div>



      <!-- TERMINO DE CENTRO DE NOTICIAS -->

      <div class="wf-cell shown" data-post-id="347" data-date="2017-10-26T20:21:04+00:00" data-name="AGENDA" style="position: absolute; height: 347.083px; left: 0px; top: 853px;">
        <article class="post post-347 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail hentry dt_portfolio_category-secciones dt_portfolio_category-3 bg-on">
          <div class="project-list-media">
            <figure class="buttons-on-img forward-post this-ready">
               <a href="" class="alignnone rollover layzr-bg this-ready layzr-bg-transparent" title="Brasero-a-carbo¦ün_V2" aria-label="Post image" style="padding-bottom: 77.2308%; height: 0px; display: block;">
                 <img class="preload-me iso-lazy-load height-ready thumb-lazy-load-show" src="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2017/10/Brasero-a-carbo%C2%A6%C3%BCn_V2.png" alt="" width="650" height="502" data-ratio="1.294820717131474">
                  <i></i>
               </a>
            </figure>
           </div>
            <div class="project-list-content">
              <h3 class="entry-title">
                <!-- link para ver la información segmento agenda -->
                <a href="" 
                title="AGENDA" rel="bookmark">AGENDA</a></h3><p>Agenda de actividades de la RedPE</p>
          </div>
       </article>
      </div>



      <!-- TERMINO DE AGENDA -->

      <div class="wf-cell shown" data-post-id="2923" data-date="2020-04-22T17:36:32+00:00" data-name="PROGRAMA INCLUSIÓN ENERGÉTICA" style="position: absolute; height: 347.083px; left: 335px; top: 853px;">
        <article class="post post-2923 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail hentry dt_portfolio_category-secciones dt_portfolio_category-3 bg-on">
          <div class="project-list-media">
            <figure class="buttons-on-img rollover-active this-ready">
              <a href="" class="alignnone rollover layzr-bg rollover-buttons-on this-ready layzr-bg-transparent" title="Captura de Pantalla 2020-04-22 a la(s) 13.11.18" aria-label="Post image" style="padding-bottom: 41.6084%; height: 0px; display: block;">
                <img class="preload-me iso-lazy-load height-ready thumb-lazy-load-show" src="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2017/08/Captura-de-Pantalla-2020-04-22-a-las-13.11.18.png" alt="" width="286" height="119" data-ratio="2.403361344537815"><i></i></a>
                <figcaption class="rollover-content">
                  <div class="links-container">
                    <a href="" 
                    class="project-link icon-ready"><span class="icon-portfolio"></span></a>
                  </div>
                </figcaption>
            </figure>
          </div>
           <div class="project-list-content">
              <h3 class="entry-title">
                <a href=""
                 title="PROGRAMA INCLUSIÓN ENERGÉTICA" rel="bookmark">PROGRAMA INCLUSIÓN ENERGÉTICA</a>
              </h3>
              <p>A través del Programa de Inclusión Energética, buscamos implementar acciones concretas que permitan 
                mejorar las condiciones energéticas en hogares vulnerables y su entorno socio productivo</p>
           </div>
        </article>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="ult-spacer spacer-62c7226c2553a" data-id="62c7226c2553a" data-height="50" data-height-mobile="50" data-height-tab="50" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px; margin-bottom: 0px; min-height: 0px;"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3>CONTACTO</h3>
      <p><strong>Correo: </strong>omara.matus@utvco.edu.mx<br>
      <strong>Dirección:</strong>  Avenida Universidad S/N, 71270 Zimatlán, Oax.</p>
      <p><strong>Comunicaciones</strong></p>
      <p><strong>Correo:</strong> omara.matus@utvco.edu.mx<br>
      <strong>Twitter:</strong>&nbsp;<a href="https://twitter.com/utvco?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@UTVCO</a><br>
      <strong>Instagram:</strong> <a href="" target="_blank" rel="noopener noreferrer">@utvco<br>
      </a><strong>facebook:</strong> <a href="https://www.facebook.com/EnergiasRenovablesUTVCO/">Energias Renovables</a>
      <a href="" target="_blank" rel="noopener noreferrer"><br>
      </a></p>
      
          </div>
        </div>
      <div class="wpb_gmaps_widget wpb_content_element"><div class="wpb_wrapper">
        <div class="wpb_map_wraper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.146974057535!2d-96.80042978563972!3d16.819063288421493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c714dc181ead11%3A0xc0ec32dfeec412fa!2sUniversidad%20Tecnol%C3%B3gica%20de%20los%20Valles%20Centrales%20de%20Oaxaca!5e0!3m2!1ses!2smx!4v1656472066588!5m2!1ses!2smx"
             width="320" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="268" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen="">
          </iframe>
      </div></div></div></div></div></div></div>
      <div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px; margin-bottom: 0px; min-height: 0px;">
        <div class="wpb_column vc_column_container vc_col-sm-6">
          <div class="vc_column-inner"><div class="wpb_wrapper">
            <div class="vc_tweetmeme-element">
              <!-- <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                </script> -->
          </div></div></div></div></div>
          <ion-chip color="primary" mode="ios">
            <!-- twitter} -->
            <ion-button>
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-label>Seguir Observatorio de Energía y Sociedad</ion-label>
          </ion-chip> 
          <!-- termino de ion-chip -->
      <span class="cp-load-after-post"></span>
        </div><!-- #content -->
      
       
      <!-- SIDEBAR -->
      <!-- abajo van a  ir los links de los articulos -->

        <aside id="sidebar" class="sidebar">
          <div class="sidebar-content">
            <section id="presscore-blog-posts-2" class="widget widget_presscore-blog-posts">
              <div class="widget-title">Entradas recientes</div>
              <ul class="recent-posts round-images">
                <li>
                  <article class="post-format-standard">
                     <div class="mini-post-img">
                       <a class="alignleft post-rollover this-ready" href="" aria-label="Post image">
                         <img class="preload-me lazy-load is-loaded" src="" width="40" height="40" alt="" srcset="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2022/05/Aton_607497-40x40.jpeg 40w, https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2022/05/Aton_607497-80x80.jpeg 80w" 
                         style="will-change: auto;">
                         <i></i>
                        </a>
                      </div>
                      <div class="post-content">
                           <a href="">
                          RedPE celebra la inclusión del “derecho a un mínimo vital de energía asequible y segura” en el borrador de la nueva Carta Magna</a>
                          <br><time datetime="2022-05-30T21:42:53+00:00">Mayo 30, 2022</time>
                      </div>
                  </article>
                </li>
                    <li>
                      <article class="post-format-standard">
                        <div class="mini-post-img">
                          <a class="alignleft post-rollover this-ready" href="" aria-label="Post image">
                            <img class="preload-me lazy-load is-loaded" src="" width="40" height="40" alt="" srcset="https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2022/04/wener-40x40.jpeg 40w, https://redesvid.uchile.cl/pobreza-energetica/wp-content/uploads/2022/04/wener-80x80.jpeg 80w" style="will-change: auto;">
                            <i></i>
                          </a>
                        </div>
                        <div class="post-content">
                          <a href="">
                            RedPE se une a la Universidad de Talca para co-organizar el ciclo de seminarios online sobre energía W-ENER</a>
                            <br>
                            <time datetime="2022-04-27T14:28:07+00:00">Abril 27, 2022</time>
                          </div>
                        </article>
                      </li>
                    </ul>
            </section>

                    <!-- comienzo de etiquetas -->

                    <section id="tag_cloud-2" class="widget widget_tag_cloud">
                      <div class="widget-title">Etiquetas

                      </div>
                      <div class="tagcloud">
                        <a href="" class="tag-cloud-link tag-link-12 tag-link-position-1" style="font-size: 20.992pt;" aria-label="Actualidad (56 ítems)">
                          Actualidad</a>
                          <a href="" class="tag-cloud-link tag-link-141 tag-link-position-2" style="font-size: 8pt;" aria-label="agua (3 ítems)">agua</a>
                          <a href="" class="tag-cloud-link tag-link-159 tag-link-position-3" style="font-size: 10.016pt;" aria-label="anahi urquiza (5 ítems)">anahi urquiza</a>
                          <a href="" class="tag-cloud-link tag-link-127 tag-link-position-4" style="font-size: 9.12pt;" aria-label="aysen (4 ítems)">aysen</a>
                          <a href="" class="tag-cloud-link tag-link-61 tag-link-position-5" style="font-size: 12.928pt;" aria-label="calefacción (10 ítems)">calefacción</a>
                          <a href="" class="tag-cloud-link tag-link-257 tag-link-position-16" style="font-size: 10.016pt;" aria-label="EBP Chile (5 ítems)">EBP Chile</a>
      
    </div>
      </section>		</div>
        </aside><!-- #sidebar -->
      
      
      
      
            </div><!-- .wf-container -->
          </div><!-- .wf-wrap -->
      
        
        </div>
      
      
        
      
      

        
          <ion-footer>
            <ion-toolbar color="dark">
            </ion-toolbar>
          </ion-footer>
        
</ion-content>



