.info{
  margin-left: 7%;
  margin-right: 7%;
}

.mas{
  margin-left: auto;
  margin-right: auto;
}

// sidebar
.sidebar-right .wf-container-main {
  grid-template-areas: "content sidebar";
}
#main {
  padding: 70px 0 70px 0;
}
#main > .wf-wrap {
  position: relative;
}
#main > .wf-wrap {
  padding: 0 80px 0 80px;
}
#main > .wf-wrap, #bottom-bar > .wf-wrap, #footer > .wf-wrap {
  width: 1300px;
}

#main .wf-wrap, .page-title .wf-wrap, .fancy-header .wf-wrap {
  padding: 0 80px 0 80px;
}
.wf-wrap {
  max-width: 100%;
  padding: 0 44px;
  margin: 0 auto;
}
.content, .sidebar, .wf-cell, .wf-usr-cell, .wf-wrap, .wpb_row {
  box-sizing: border-box;
}
#main:not(.sidebar-none) .wf-container-main {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 50px;
}
.sidebar-divider-vertical.sidebar-right .sidebar {
  padding-left: 0;
}
.sidebar-right .sidebar, .sidebar-right .sidebar-space {
  -ms-grid-column: 3;
}
.sidebar-right .sidebar {
  border-left: 1px solid var(--the7-divider-color);
}
.sidebar-right .sidebar, .sidebar-divider-off.sidebar-right .sidebar, .sidebar-right .sidebar.solid-bg, .sidebar-right .sidebar.bg-under-widget {
  margin-right: 0;
  margin-left: 0;
}
.sidebar, .sidebar-space {
  grid-area: sidebar;
  -ms-grid-row: 1;
}
.sidebar {
  position: relative;
  z-index: 9;
}
.content, .sidebar, .wf-cell, .wf-usr-cell, .wf-wrap, .wpb_row {
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}
aside {
  display: block;
}
.sidebar-divider-vertical.sidebar-right .sidebar .sidebar-content {
  padding-left: 50px;
}

.content .sidebar-content:not(.solid-bg):not(.bg-under-widget) .widget:first-child, .elementor-widget-sidebar .widget:first-child, .sidebar:not(.solid-bg):not(.bg-under-widget) .widget:first-child {
  padding-top: 0;
}
.elementor-widget-sidebar .widget:first-child, .sidebar .widget:first-child, .sidebar-content .widget:first-child {
  border-top: none;
}

.sidebar .widget, .widget_product_categories li a, .widget .st-accordion li > a, ul.cart_list li a, ul.product_list_widget li a, .sidebar-content .widget, .widget .testimonial-vcard .text-primary, .widget .testimonial-vcard .text-secondary, div[class*='elementor-widget-wp-widget-'], .elementor-widget-sidebar .widget, .elementor-widget-wp-widget-woocommerce_recently_viewed_products, .elementor-widget-wp-widget-woocommerce_recent_reviews, .elementor-widget-wp-widget-woocommerce_product_categories, .elementor-widget-wp-widget-woocommerce_top_rated_products, .elementor-widget-wp-widget-woocommerce_widget_cart, .elementor-widget-wp-widget-woocommerce_price_filter, .elementor-widget-wp-widget-woocommerce_layered_nav, .elementor-widget-wp-widget-woocommerce_products, .elementor-widget-woocommerce-products, .elementor-widget-wp-widget-woocommerce_layered_nav_filters, .elementor-widget-wp-widget-woocommerce_rating_filter, .the7-product-filter {
  font: var(--the7-widget-content-font);
  text-transform: var(--the7-widget-content-text-transform);
  letter-spacing: var(--the7-widget-content-letter-spacing);
  text-decoration: var(--the7-widget-content-text-decoration);
}
.sidebar .widget, .sidebar-content .widget, .elementor-widget-sidebar .widget {
  border-top: 1px solid var(--the7-divider-color);
  color: #282828;
  padding-top: 15px;
  padding-bottom: 15px;
}
#main {
  padding: 50px 0;
}
#main {
  -ms-grid-column: 1;
  -ms-grid-row: 5;
  grid-area: main;
}

#main > .wf-wrap {
  position: relative;
}
.content, .sidebar, .wf-cell, .wf-usr-cell, .wf-wrap, .wpb_row {
  box-sizing: border-box;
}
.sidebar-left .wf-wrap:after, .sidebar-left .wf-wrap:before, .sidebar-right .wf-wrap:after, .sidebar-right .wf-wrap:before {
  content: "";
  display: table;
}

.main-gradient {
  display: none;
}

#main:not(.sidebar-none) .wf-container-main {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 50px;
}

element.style {
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 0px;
}
.upb_video_class, .vc_row, .wpb_column, .wpb_row {
  position: relative;
}

.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.vc_col-sm-12 {
  width: 100%;
}
.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
  float: left;
}
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vc_column_container {
  width: 100%;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
  margin-bottom: 35px;
}
.ubtn-ctn-center {
  display: block;
  text-align: center;
}
.info-wrapper.ult-adjust-bottom-margin, .smile_icon_list_wrap.ult-adjust-bottom-margin, .uavc-list-icon-wrapper.ult-adjust-bottom-margin, .ubtn-ctn-center, .ubtn-ctn-left, .ubtn-ctn-right, .ubtn-img-container, .ult-banner-block.ult-adjust-bottom-margin, .ult-modal-input-wrapper.ult-adjust-bottom-margin, .ult_dual_button.ult-adjust-bottom-margin, .ultb3-box.ult-adjust-bottom-margin, .ultimate-call-to-action.ult-adjust-bottom-margin, .ultimate-google-trends.ult-adjust-bottom-margin, .ultimate-map-wrapper.ult-adjust-bottom-margin, .uvc-type-wrap.ult-adjust-bottom-margin, html .ult-ih-container.ult-adjust-bottom-margin, html .ult_exp_section_layer.ult-adjust-bottom-margin, html .ult_hotspot_container.ult-adjust-bottom-margin, html .ult_main_cl.ult-adjust-bottom-margin {
  margin-bottom: 35px;
}
.aio-icon-component, .aio-icon-component *, .align-icon, .align-icon *, .flip-box-wrap, .flip-box-wrap *, .info-circle-wrapper, .info-circle-wrapper *, .smile-icon-timeline-wrap, .smile-icon-timeline-wrap *, .smile_icon_list_wrap, .smile_icon_list_wrap *, .stats-block, .stats-block *, .uavc-icons, .uavc-icons *, .uavc-list-icon, .uavc-list-icon *, .ubtn, .ubtn *, .ubtn-ctn-center, .ubtn-link, .ult-animation, .ult-animation *, .ult-banner-block, .ult-banner-block *, .ult-new-ib, .ult-new-ib *, .ult-overlay, .ult-overlay *, .ult_countdown, .ult_countdown *, .ult_pricing_table_wrap, .ult_pricing_table_wrap *, .ultimate-google-trends, .ultimate-google-trends *, .ultimate-map-wrapper, .ultimate-map-wrapper *, .uvc-heading, .uvc-heading * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.ubtn-ctn-center {
  display: block;
  text-align: center;
}
element.style {
  position: relative;
  height: 1200.17px;
}
.cont-id-0 {
  margin: -3px;
}
.wf-container {
  margin: 0 -80px 0 -80px;
}
.wf-container {
  font-size: 0;
  line-height: 0;
  word-spacing: -4px;
  margin: 0 -22px;
  padding: 0;
}
html, body, body.page, .wf-container > * {
  font: var(--the7-base-font-big);
  letter-spacing: var(--the7-base-letter-spacing);
  text-transform: var(--the7-base-text-transform);
  text-decoration: var(--the7-base-text-decoration);
  word-spacing: normal;
  color: var(--the7-base-color);
}
#main-nav:after, #top-bar:after, .header-bottom-bar:after, .layout-list .post:after, .wf-container:after {
  content: "";
  display: table;
  clear: both;
}
.content .sidebar-content:not(.solid-bg):not(.bg-under-widget) .widget:first-child, .elementor-widget-sidebar .widget:first-child, .sidebar:not(.solid-bg):not(.bg-under-widget) .widget:first-child {
  padding-top: 0;
}
.elementor-widget-sidebar .widget:first-child, .sidebar .widget:first-child, .sidebar-content .widget:first-child {
  border-top: none;
}
.sidebar .widget, .widget_product_categories li a, .widget .st-accordion li > a, ul.cart_list li a, ul.product_list_widget li a, .sidebar-content .widget, .widget .testimonial-vcard .text-primary, .widget .testimonial-vcard .text-secondary, div[class*='elementor-widget-wp-widget-'], .elementor-widget-sidebar .widget, .elementor-widget-wp-widget-woocommerce_recently_viewed_products, .elementor-widget-wp-widget-woocommerce_recent_reviews, .elementor-widget-wp-widget-woocommerce_product_categories, .elementor-widget-wp-widget-woocommerce_top_rated_products, .elementor-widget-wp-widget-woocommerce_widget_cart, .elementor-widget-wp-widget-woocommerce_price_filter, .elementor-widget-wp-widget-woocommerce_layered_nav, .elementor-widget-wp-widget-woocommerce_products, .elementor-widget-woocommerce-products, .elementor-widget-wp-widget-woocommerce_layered_nav_filters, .elementor-widget-wp-widget-woocommerce_rating_filter, .the7-product-filter {
  font: var(--the7-widget-content-font);
  text-transform: var(--the7-widget-content-text-transform);
  letter-spacing: var(--the7-widget-content-letter-spacing);
  text-decoration: var(--the7-widget-content-text-decoration);
}
.recent-posts>li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none!important;
}
.widget .recent-posts li {
  margin-top: 0;
}
.recent-posts li:not(:last-child) {
  padding: 0 0 15px;
}
li {
  color: #6e7072;
  font: 16px/26px "Dosis",Helvetica,Arial,Verdana,sans-serif;
  word-spacing: normal;
  text-align: justify;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
dd, dl, menu, ol, ul {
  list-style: none;
}
ol, ul {
  overflow-wrap: break-word;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.sidebar .widget, .sidebar-content .widget, .elementor-widget-sidebar .widget {
  border-top: 1px solid var(--the7-divider-color);
  color: #282828;
  padding-top: 15px;
  padding-bottom: 15px;
}
.recent-posts li article {
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}
#footer .alignleft, #sidebar .alignleft {
  margin-right: 20px;
}
.round-images .alignleft, .round-images .alignleft i, .round-images .alignleft img, .round-images .blur-effect, .round-images .rollover i, .round-images a.rollover, .round-images img {
  border-radius: 50%;
}
.recent-posts .alignleft {
  margin: 0 15px 5px 0;
  font-size: 0;
  line-height: 0;
}


img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.recent-posts .alignleft img {
  max-width: inherit;
  height: inherit;
}
.sidebar-content .widget_categories li a, .sidebar-content .widget_meta a, .sidebar-content .blogroll a, .sidebar-content .widget_archive li a, .sidebar-content .widget_recent_entries a, .sidebar-content .widget_recent_comments a, .sidebar-content .widget_links a, .sidebar-content .items-grid a, .sidebar-content .recent-posts a, .sidebar-content .widget:not(.widget_icl_lang_sel_widget) .recent-posts a, .sidebar-content .contact-info .secondary-color, .sidebar-content .widget_nav_menu a, .sidebar-content .tagcloud a, .sidebar-content .widget_pages a, .sidebar-content a.rsswidget, .sidebar-content .textwidget a {
  color: #282828;
}
.widget_categories li a, .widget_meta a, .blogroll a, .widget_archive li a, .widget_recent_entries a, .widget_recent_comments a, .widget_links a, .items-grid a, .recent-posts a, .widget:not(.widget_icl_lang_sel_widget) .recent-posts a, .contact-info .secondary-color, .widget_nav_menu a, .tagcloud a, .widget_pages a, a.rsswidget, .textwidget a {
  color: var(--the7-title-color);
}
.items-grid .post-content>a, .recent-posts a {
  display: inline-block;
  text-decoration: none;
}
.post-rollover, .rollover, .rollover-project>a, .rollover-video {
  position: relative;
  display: block;
  line-height: 0;
  text-decoration: none;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  clear: none;
}
#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
  margin-bottom: 0;
}
a.ubtn-link .ubtn {
  margin: 0;
}
button.ubtn-normal {
  padding: 15px 30px;
}
.dt-isotope .wf-cell {
  will-change: top,left;
}
.wf-cell, .wf-usr-cell {
  padding: 0 80px 0 80px;
}
.wf-container {
  font-size: 0;
  line-height: 0;
  word-spacing: -4px;
  margin: 0 -22px;
  padding: 0;
}
.bg-on .blog-media, .bg-on .project-list-media {
  padding: 0px 0px 0;
  margin-bottom: -5px;
}
.bg-on .blog-media, .bg-on .project-list-media {
  padding: 25px 25px 0;
}
.bg-on .buttons-on-img {
  margin: 0;
}

figure, form {
  margin: 0;
}
.buttons-on-img > p, .post .buttons-on-img .alignnone, .description-under-image .post .buttons-on-img .alignnone, .description-under-image .post .buttons-on-img .slider-masonry {
  margin-bottom: 0;
}
.albums .post img, .blog .post img, .dt-albums-shortcode:not(.owl-carousel) img, .dt-blog-shortcode img, .dt-portfolio-shortcode:not(.owl-carousel) img, .images-container img, .media .post img, .portfolio .post img, .related-projects .rollover img, .related-projects .rollover-video img, .wf-container.iso-grid img, .wf-container.layout-masonry img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.layzr-loading-on .iso-layzr-loaded, .layzr-loading-on .iso-lazy-load.is-loaded {
  opacity: 1;
}
.layzr-loading-on .iso-lazy-load {
  opacity: 0;
  transition: opacity .35s ease-out;
}
.rollover img {
  max-width: 100%;
  height: auto;
}
.bg-on .project-list-content {
  position: relative;
}
.bg-on .blog-content, .bg-on .project-list-content {
  padding: 10px 25px;
}
.buttons-on-img {
  position: relative;
  overflow: hidden;
  margin: 0 0 20px;
  text-align: center;
}
.iso-container .bg-on .blog-content>:last-child, .iso-container .bg-on .project-list-content>:last-child, .iso-grid .bg-on .blog-content>:last-child, .iso-grid .bg-on .project-list-content>:last-child {
  margin-bottom: 10px;
}
.iso-container .bg-on .blog-content > *, .iso-container .bg-on .project-list-content > *, .iso-grid .bg-on .blog-content > *, .iso-grid .bg-on .project-list-content > * {
  line-height: 21px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 10px;
}
.iso-container .bg-on .blog-content>*, .iso-container .bg-on .project-list-content>*, .iso-grid .bg-on .blog-content>*, .iso-grid .bg-on .project-list-content>* {
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.cont-id-0 .wf-cell {
  width: 335px;
  padding: 3px;
}
.dt-isotope .wf-cell {
  will-change: top,left;
}
.iso-grid.iso-item-ready article, .mode-grid article {
  height: 100%;
}
.post.bg-on, .post.bg-on.fullwidth-img.format-quote, .post.bg-on.fullwidth-img.format-link {
  background-color: var(--the7-content-boxes-bg);
}
textarea, select, blockquote, .entry-author, .format-aside-content, .format-status-content, .format-link-content, .dt-form button, .dt-btn, #main-slideshow .tp-button, .wpcf7-submit.dt-btn-m, .shortcode-action-bg, .shortcode-action-bg:before, .shortcode-teaser.frame-on, .testimonial-item  .ts-viewport, .footer .testimonials.slider-content, .shortcode-code, #main .vc_text_separator div, #main .vc_progress_bar .vc_single_bar, #main .vc_progress_bar .vc_single_bar .vc_label, #main .vc_progress_bar .vc_single_bar .vc_bar, #main .flexslider, .nsu-submit, .mc4wp-form input[type="url"], .mc4wp-form input[type="date"], #main #content .rotatingtweets, #main #content .norotatingtweets, .mc4wp-form form select, #megaMenu ul.megaMenu > li.menu-item, #megaMenu ul.megaMenu > li.menu-item > a, .customSelect, .loading-label, .widget .testimonial-content, .skill, .skill-value, .widget .team-container, .widget .logo-items li, .comment-list .comment > article, .bg-on:not(.fullwidth-img), .blog-content .block-style-widget, #mobile-menu, .testimonial-content, .wpb_content_element .wpb_accordion_header > a:before, .wpb_content_element.dt-accordion-bg-on .wpb_accordion_wrapper .wpb_accordion_header, .twentytwenty-before-label, .twentytwenty-after-label, .btn-cntr a, .photo-scroller .album-share-overlay .share-button.entry-share, .project-navigation, .album-share-overlay, .st-accordion li > a:before, .arrows-accent .prev i, .arrows-accent .next i, .arrows-accent .owl-prev i, .arrows-accent .owl-next i, .round-images .bg-on.team-container:not(.fullwidth-img), .solid-bg .sidebar-content, .solid-bg.sidebar-content .widget, .bg-under-widget .sidebar-content .widget, .ls-container.ls-carousel .ls-nav-prev, .ls-container.ls-carousel .ls-nav-next, .menu-btn, .custom-menu a:before, .small-fancy-datas .fancy-date a {
  border-radius: 0px;
}
.post {
  position: relative;
}
.bg-on .blog-media, .bg-on .project-list-media {
  padding: 0px 0px 0;
  margin-bottom: -5px;
}
.bg-on .blog-media, .bg-on .project-list-media {
  padding: 25px 25px 0;
}
.buttons-on-img > p, .post .buttons-on-img .alignnone, .description-under-image .post .buttons-on-img .alignnone, .description-under-image .post .buttons-on-img .slider-masonry {
  margin-bottom: 0;
}
.iso-grid.iso-item-ready article, .mode-grid article {
  height: 100%;
}
p {
  color: #6e7072;
  font: 16px/26px "Dosis",Helvetica,Arial,Verdana,sans-serif;
  word-spacing: normal;
  text-align: justify;
}


h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:hover, h2 a:hover, h3 a:hover,
 h4 a:hover, h5 a:hover, h6 a:hover, .h1-size, .entry-title.h1-size, .h2-size, .entry-title.h2-size, 
 h1.entry-title, .h3-size, .entry-title.h3-size, h2.entry-title, .h4-size, .entry-title.h4-size, 
 h3.entry-title, .h5-size, .entry-title.h5-size, .h6-size, .entry-title.h6-size, 
 .header-color, .entry-meta .header-color, .color-title {
  color: var(--the7-title-color);
}
.post .entry-title a {
  display: initial;
}
a:hover, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}
.spacer-62c7432c04ee9 {
  height: 50px;
}
.widget_tag_cloud a {
  display: inline-block;
  padding: 0 3px;
  margin-bottom: 2px;
  text-decoration: none;
}

// 08/07/2022
h4, .h4-size, .entry-title.h4-size, h3.entry-title, .dt-accordion-h4-size .wpb_accordion_header > a, .vc_separator h4 {
  color: #333333;
  font: bold 20px/30px "Dosis",Helvetica,Arial,Verdana,sans-serif;
  text-transform: uppercase;
}

a, a:hover {
  color:darkgoldenrod;
}

a {
  text-decoration: underline;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.post.bg-on, .post.bg-on.fullwidth-img.format-quote, .post.bg-on.fullwidth-img.format-link {
  background-color: var(--the7-content-boxes-bg);
}

// este estilo es para dar opacidad lo puedes dejar o quitar
.blog-shortcode>div:not(.dt-css-grid) .wf-cell, .blog.layout-grid .wf-container.description-under-image .wf-cell, .grid-masonry .wf-cell, .iso-grid .wf-cell, .iso-item, .portfolio-shortcode .wf-cell, .shortcode-blog-posts .wf-cell {
  opacity: 10;
}

.strong{
  color: rgb(45, 94, 94);
  font-size: 40px;
}

